PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/hookrelay?schema=public"
CLIENT_URL="http://localhost:5173"
JWT_ACCESS_SECRET="dev_access_secret_change_in_production_min64chars_aaaaaaaaaaaaaaaaaa"
JWT_REFRESH_SECRET="dev_refresh_secret_change_in_production_min64chars_bbbbbbbbbbbbbbbbb"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
